<div id="templatePage">
  <div class="container">
  <div class="heading">
    <br><strong>
      The Founding Team
    </strong><br>

  </div>


    <table class="fourColumn table aboutTable">
      <tr>
        <td>
          <div class="headshot" style="background-image: url('assets/headshots/leadership/1.jpeg');">
            <div>
              <strong>Chaitanya Chitta</strong><br>
              Co-Founder/CEO  
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/leadership/2.jpg');">
            <div>
              <strong>Rakshit Kejriwal</strong><br>
              Co-Founder/COO
            </div>
          </div>

        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/leadership/3.png');">
            <div>
              <strong>Lakshmi Dasaka</strong><br>
              Co-Founder/Products
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/leadership/4.png');">
            <div>
              <strong>Srivatsa</strong><br>
              CTO
            </div>
          </div>
        </td>
      </tr>
    </table>











  <div class="heading">
    <br><strong>
      The Team
    </strong><br>

  </div>

  
    <table class="fourColumn table aboutTable">
      <tr>
        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/1.png');">
            <div>
              <strong>Michael Yoon</strong><br>
              Technology Advisor
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/2.png');">
            <div>     
              <strong>Lindsay Tabas </strong><br>
              Sr. Product Design <br> UX Manager
            </div>
          </div>

        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/3.png');">
            <div>
              <strong>Max Savin </strong><br>
              Sr. Growth Marketeer <br>
              Web Developer
            </div>
          </div>
        </td>


        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/vinay.jpg');">
            <div>     
              <strong>Vinay Singh</strong><br>
              Junior Developer
            </div>
          </div>

        </td>

      </tr>
      
      <tr>
        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/sridhar.jpg');">
            <div>
              <strong>Sridhar B</strong><br>

              Senior Developer
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/nilanjana.jpg');">
            <div>
              <strong>Nilanjana De</strong><br>
              Senior Instructional Designer
            </div>
          </div>
        </td>
        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/4.png');">
            <div>
              <strong> Karishma Tibrewala </strong><br>
              Business Analyst
            </div>
          </div>
        </td>
        

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/rajesh.jpg');">
            <div>
              <strong> Rajesh Rajagopal</strong><br>
              Manager, Learning Products
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/kelly.jpg');">
            <div>
              <strong>Dr. Kelly Edmonds</strong><br>
              Consulting Instructional Designer

            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/cindy.jpg');">
            <div>     
              <strong> Cindy Schott </strong><br>
              Consulting Instructional Designer

            </div>
          </div>

        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/tim.jpg');">
            <div>
              <strong>Tim Poteat </strong><br>
              Sr. Growth Marketeer <br>
              Web Developer
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/business/keith.jpg');">
            <div>
              <strong> Keith Freeman </strong><br>
              Sr. Instructional Designer and Developer
            </div>
          </div>
        </td>
      </tr>
    </table>
  <div class="heading">
    <br><strong>
      Board / Advisors
    </strong><br>

  </div>

  
    <table class="fourColumn table aboutTable">
      <tr>
        <td>
          &nbsp;
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/advisor/1.png');">
            <div>
              <strong>Sree Sreenivasan</strong><br>
              Chief Digital Officer <br>@ Met Museum
            </div>
          </div>
        </td>

        <td>
          <div class="headshot" style="background-image: url('assets/headshots/advisor/2.png');">
            <div>
              <strong>Jeremy Johnson </strong><br>
              Founder/CEO <br> @ Andela
            </div>
          </div>
        </td>

        <td>
          &nbsp;
        </td>

      </tr>
    </table><br><br>

  </div>
</div>