<div id="footer">
  <div class="container">
    <table class="threeColumn table"> 
      <tr>
        <td colspan="2" style="padding-right: 26px">
          <div class="rightPadding" style="padding-right: 34px; padding-top: 12px">
            <img src="assets/logo4.png" height="34"><br>
            SmartOn is the online bootcamp for digital skills teaching full-stack technology tools in areas such
            as e-commerce and digital & social media marketing through immersive project-based courses leading to demonstrable skills &amp; certificates.         </div>

          
        </td>

        <td class="menu">
          <div  class='first'><strong style="color: #fff">Partnership Opportunities</strong></div>
          <a href="partners"><div>For Product Partners</div></a>
          <a href="distributors"><div>For Education Partners</div></a>
          <div class='last'>&nbsp;</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="subFooter">
    <div class="container">
      &copy; SmartOn Learning Solutions 2014
      <a href="contact"> <div class="link">Contact</div></a>
      <a href="team">   <div class="link">Team</div></a>
      <a href="privacy"> <div class="link">Privacy Policy</div></a>
      <a href="terms">   <div class="link">Terms of Service</div></a>

    </div>
  </div>
</div>
<script src="assets/jquery.js"></script>
<script src="assets/ui.js"></script>
</body>
</html>