<div id="hero" style="min-height: 50px; HEIGHT: 50PX; background: #3A424D">
  <div id="header" style="opacity: .96">
    <div class="container">
      <a href="/"><img src="assets/logo4.png"></a>
      <!-- <div class="menu">How It Works</div> -->
      <!-- <div class="menu">Courses</div> -->
      <a href="http://easledemo.smarton.co"><div class="menu">Sign In</div></a>
      <a href="/#howitworks"><div class="menu">How It Works</div></a>
      <a href="team"><div class="menu">Team</div></a>
    </div>
  </div>




</div>

