<%= render 'pages/header' %>
<%= render 'pages/hero_thin' %>
<div id="coursePage">

  <div style="background: #DFE2E5; min-height: 500px; padding: 30px 0">
    <div class="container">


      <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
      <script>
        hbspt.forms.create({ 
          portalId: '431252',
          formId: '8b2af797-1eff-4a4c-ba5a-641beda774d2'
        });
      </script>


    </div>
  </div>

</div>
<%= render 'pages/footer' %>